<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-controller="AlbumController">
    <table>
        <thead>
            <th>Title</th>
            <th>Artist</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="album in albums">
                <td>
                    <input name="album.title" ng-model="album.title">
                </td>
                <td>
                    <input name="album.artist" ng-model="album.artist">
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
<button ng-click="printAlbums()">Print Albums</button>
<script type="text/javascript" src="../node_modules/angularjs/index.js"></script>
<script type="text/javascript" src="js/app.js"></script>